@import "variable";

* {
  margin: 0;
  box-sizing: border-box;
  /*height: 100vh;*/
}

a {
  text-decoration: none;
  color: black;
}

h2 {
  font-size: 19px;
}


.el-divider {
  margin: 16px 0;
}

.reverse-radio-label {
  &.el-radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .el-radio__label {
      padding-left: 16px;
    }
  }
}

.block-btn {
  &.el-button {
    & + .el-button {
      margin-left: 0;
    }

    display: block;
  }
}


.w-100 {
  .el-radio-group {
    width: 100%;
  }
}

.no-border-btn {
  &.el-button {
    border: none;
  }
}

.section-top-margin {
  margin-top: 16px;
}

.w-100 {
  width: 100%;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: $blue;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.page-el-main-setting {
  background-color: #F9F9F9;
  height: 100vh;
}

.sub-info-area {
  color: $sub-info-color;
}
