@import "variable";
@import "mixin";

* {
  margin: 0;
  box-sizing: border-box;
  /*height: 100vh;*/
}

a {
  text-decoration: none;
  color: black;
}
h1 {
  font-size: 2em;
}

h2 {
  font-size: 19px;
}


.el-divider {
  margin: 16px 0;
}

.reverse-radio-label {
  &.el-radio {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .el-radio__label {
      padding-left: 16px;
    }
  }
}

.block-btn {
  &.el-button {
    & + .el-button {
      margin-left: 0;
    }

    display: block;
  }
}


.w-100 {
  .el-radio-group {
    width: 100%;
  }
}

.no-border-btn {
  &.el-button {
    border: none;
  }
}

.section-top-margin {
  margin-top: 16px;
}

.w-100 {
  width: 100%;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: $blue;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

.page-el-main-setting {
  background-color: #F9F9F9;
  height: 100vh;
}

.sub-info-area {
  color: $sub-info-color;
}

.main-page-header {
  width: 100vw;
  height: 30px;
  &.studio-page {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

  &.el-header {
    padding: 0 20px 0 0;
  }

  .main-page-header-logo {
    width: 85px;
    height: auto;
  }

  .main-page-header-col {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.gray-theme-bg-color {
  background-color: $gray;
}

.gray-font-color {
  color: $dark-gray;
}

.f-j-space-between {
  display: flex;
  justify-content: space-between;
}

.el-button {
  &.padding-0 {
    padding: 0;
  }
}

.card-header {
  @include padding-b(14)
}


